a{
    color: #ff764e;
    font-family: 'Chelsea Market', cursive;
}
#Learn{
    color:#5ed3eb
}
#Get{
color: #ffcd69
}

p {
    font-family: 'Roboto Mono', monospace;
    color: #ddb9a3
}
footer{
    color: #f9e7dc
}